@model FootTrack.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


 <div class="container mt-5 text-center">
 @if (User?.Identity?.IsAuthenticated ?? false)
    {
    <h1 class="display-4 mb-4 fw-bold text-primary">⚽ Welcome to FootTrack,@Model.AppUser?.UporabniskoIme</h1>
    <p class="lead text-muted">Track and explore football results, teams, and upcoming matches.</p>

    <hr class="my-5" />
    }
    @if (Model.NajEkipa != null)
{
    <h2 class="fw-semibold">Latest Match Results From Your Favourite Team</h2>
    <div class="my-3">
        <strong>@Model.NajEkipa.Ime</strong>
        @if (Model.Tekme.Count > 0){
            <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Score</th>
                <th>Away Team</th>
                <th>Competition</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var tekma in Model.Tekme)
        {
            <tr>
                <td>@tekma.Datum.ToString("dd.MM.yyyy")</td>
                <td>@tekma.DomacaEkipa.Ime</td>
                <td>@tekma.GoliDomaci : @tekma.GoliGosti</td>
                <td>@tekma.GostujocaEkipa.Ime</td>
            </tr>
        }
        </tbody>
    </table>
    }
    else{
<p>No matches found for this team</p>
    }
        
    </div>
}

    else
    {
        <h1 class="display-4 mb-4 fw-bold text-primary">⚽ Welcome to FootTrack!</h1>
        <p class="lead text-muted">Join now to track your favorite teams and games.</p>
        <a class="btn btn-primary btn-lg mt-3 me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-outline-secondary btn-lg mt-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }

    
</div>
